header{
	background-color:#7695fe;
	border:thin #336699 solid;
	padding:10px;
	margin:10px;
	text-align:center;
}
	header h1{
		margin:0px;
		color:white;
		font-size:xx-large;
	}
input:focus{
	background:#eaeaea;
}
input:required{
	background-color:lightyellow;
}
input:required:invalid{
	background-color:#564556;
}